<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="card card-container">
        <h1 class="moveit">Code Spells</h1>
        <h2 class="moveit">Log In</h2>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" th:action="@{/home}" method="post" th:object="${userForm}">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" th:field="*{email}" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" th:field="*{password}" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <a href="#" th:href="@{/recoverPass}" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>
</body>
</html>